window {
  margin: 5px;
  border: 2px solid #262b44;
  background-color: #181425;
}

#input {
  margin: 5px;
  border: 2px solid #b55088;
  background-color: #262b44;
}

#entry:selected {
  background-color: #66b2b2;
}
