window {
  margin: 5px;
  /* border: 2px solid #3c4048; */
  background-color: #16181a;
  color: #ffffff;
}

#input {
  margin: 5px;
  border: 2px solid #ffbd5e;
  background-color: #3c4048;
}

#entry:selected {
  background-color: #5ef1ff;
  color: #16181a;
}
